h1 {
    color: red;
    margin-bottom: 20px;
}
p {
    color: blue;
    font-size: 18px;
}
input {
    border: 1px solid black;
    padding: 5px;
}
button {
    background-color: rgb(155, 201, 155);
    color: rgb(148, 138, 138);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
button:hover {    
    background-color: rgb(50, 92, 50);
}
body {
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;     
    margin: 0;
    font-family: Arial;
}

.container {
    text-align: center;
}